$base-color: #344955;
$active-color: #c00000;
$timer-hover-bg-color: #5e8296;
$reset-hover-bg-color: #ca0b0b;
$timer-text-color: #ffffff;
$timer-active-bg-color: #3f5867;
$btn-border-radius: 0.3rem;
$btn-padding: 0.75rem;
