@import './common/scss/reset.scss';
@import './common/scss/fonts.scss';

$base-color: #344955;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.timer-btn {
  cursor: pointer;
  outline: none;
  border: 1px solid $base-color;
  width: 250px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: $base-color;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: #5e8296 radial-gradient(circle, transparent 1%, #5e8296 1%)
      center/15000%;
  }
  &:active {
    background-color: #3f5867;
    background-size: 100%;
    transition: background 0s;
  }
}

.item-enter {
  opacity: 0.01;
  transform: translate(-40px, 0);
  &-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease-in;
  }
}

.item-exit {
  opacity: 1;
  transform: translate(0, 0);
  &-active {
    opacity: 0.01;
    transform: translate(40px, 0);
    transition: all 500ms ease-in;
  }
}

.item-enter__btn {
  padding: 5px;
  margin-bottom: 5px;
  background: none;
  width: 250px;

  &.active {
    border: 1px solid $base-color;
    color: #c00;
  }
}
